apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dex

generatorOptions:
  disableNameSuffixHash: true

images:
  - name: quay.io/dexidp/dex:v2.24.0
    newName: quay.io/dexidp/dex
    newTag: v2.25.0
  - name: gcr.io/heptio-images/gangway:v3.2.0
    newName: gcr.io/heptio-images/gangway
    newTag: v3.2.0
  - name: quay.io/jetstack/oidc:v0.3.0
    newName: quay.io/jetstack/oidc
    newTag: v0.3.0

resources:
- ns.yaml
- dex-rbac.yaml
- dex-deployment.yaml
- dex-ingress.yaml
- gangway-deployment.yaml
- gangway-ingress.yaml
- oidc-rbac.yaml
- oidc-deployment.yaml
- oidc-ingress.yaml

secretGenerator:
- name: dex
  files:
  - dex-config.yaml
- name: gangway
  files:
  - gangway-config.yaml
- name: gangway-key
  literals:
  - sessionkey={{ (ds "values").gangway.sessionkey }}
- name: kube-oidc-proxy-config
  literals:
  - oidc.issuer-url=https://{{ (ds "values").dex.url }}
  - oidc.username-prefix="oidc:"
  - oidc.username-claim=email
  - oidc.groups-prefix="oidc:"
  - oidc.groups-claim=groups
  - oidc.client-id=gangway
