.DS_Store
/dex-gangway-oidc/dex-config.yaml
/dex-gangway-oidc/dex-ingress.yaml
/dex-gangway-oidc/gangway-config.yaml
/dex-gangway-oidc/gangway-deployment.yaml
/dex-gangway-oidc/gangway-ingress.yaml
/dex-gangway-oidc/oidc-deployment.yaml
/dex-gangway-oidc/oidc-ingress.yaml
/dex-gangway-oidc/kustomize/base/kustomization.yaml
/dex-gangway-oidc/overlays
/dex-gangway-oidc/dex-example-app/dex-example-app
/istio/1.*
/istio/certs
/istio/download
/istio/charts/istio-ingress.bak
/istio/ingress/my-*
/spinnaker/hal/
**/*.lock
**/charts/*
**/my-*
*/*.swp
